AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=TU_SECRET_KEY_AQUI
AWS_SESSION_TOKEN=TU_SESSION_TOKEN_AQUI
AWS_REGION=us-east-1
S3_BUCKET_NAME=archivacloud-p12
FRONTEND_ORIGIN=http://localhost:5173
